[submodule "Graphics/GTK3/2Dvector/cairo"]
	path = Graphics/GTK3/2Dvector/cairo
	url = https://gitlab.freedesktop.org/cairo/cairo.git
[submodule "Graphics/GTK3/2Dvector/fontconfig"]
	path = Graphics/GTK3/2Dvector/fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig.git
[submodule "Graphics/GTK3/2Dvector/freetype"]
	path = Graphics/GTK3/2Dvector/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "Graphics/GTK3/2Dvector/fribidi"]
	path = Graphics/GTK3/2Dvector/fribidi
	url = https://github.com/fribidi/fribidi.git
[submodule "Graphics/GTK3/2Dvector/harfbuzz"]
	path = Graphics/GTK3/2Dvector/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "Graphics/GTK3/2Dvector/pango"]
	path = Graphics/GTK3/2Dvector/pango
	url = https://gitlab.gnome.org/GNOME/pango.git
[submodule "Graphics/GTK3/2Dvector/pixman"]
	path = Graphics/GTK3/2Dvector/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman.git
[submodule "Graphics/GTK3/CoreLibs/at-spi2-core"]
	path = Graphics/GTK3/CoreLibs/at-spi2-core
	url = https://gitlab.gnome.org/GNOME/at-spi2-core.git
[submodule "Graphics/GTK3/CoreLibs/gdk-pixbuf"]
	path = Graphics/GTK3/CoreLibs/gdk-pixbuf
	url = https://gitlab.gnome.org/GNOME/gdk-pixbuf.git
[submodule "Graphics/GTK3/CoreLibs/glib"]
	path = Graphics/GTK3/CoreLibs/glib
	url = https://gitlab.gnome.org/GNOME/glib.git
[submodule "Graphics/GTK3/CoreLibs/gobject-introspection"]
	path = Graphics/GTK3/CoreLibs/gobject-introspection
	url = https://gitlab.gnome.org/GNOME/gobject-introspection.git
[submodule "Graphics/GTK3/Foundation/expat"]
	path = Graphics/GTK3/Foundation/expat
	url = https://github.com/libexpat/libexpat.git
[submodule "Graphics/GTK3/Foundation/libffi"]
	path = Graphics/GTK3/Foundation/libffi
	url = https://github.com/libffi/libffi.git
[submodule "Graphics/GTK3/Foundation/libjpeg-turbo"]
	path = Graphics/GTK3/Foundation/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "Graphics/GTK3/Foundation/libpng"]
	path = Graphics/GTK3/Foundation/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "Graphics/GTK3/Foundation/libtiff"]
	path = Graphics/GTK3/Foundation/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "Graphics/GTK3/Foundation/libxml2"]
	path = Graphics/GTK3/Foundation/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "Graphics/GTK3/Foundation/pcre2"]
	path = Graphics/GTK3/Foundation/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "Graphics/GTK3/Foundation/zlib"]
	path = Graphics/GTK3/Foundation/zlib
	url = https://github.com/madler/zlib.git
[submodule "Graphics/GTK3/Graphics/gtk3"]
	path = Graphics/GTK3/Graphics/gtk3
	url = https://gitlab.gnome.org/GNOME/gtk.git
[submodule "Graphics/GTK3/Graphics/libdrm"]
	path = Graphics/GTK3/Graphics/libdrm
	url = https://gitlab.freedesktop.org/mesa/drm.git
[submodule "Graphics/GTK3/Graphics/libepoxy"]
	path = Graphics/GTK3/Graphics/libepoxy
	url = https://github.com/anholt/libepoxy.git
[submodule "Graphics/GTK3/Graphics/mesa"]
	path = Graphics/GTK3/Graphics/mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git
[submodule "Graphics/Wayland/Runtime/wayland-protocols"]
	path = Graphics/Wayland/Runtime/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "Graphics/Wayland/wayland"]
	path = Graphics/Wayland/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "Input/libxkbcommon"]
	path = Input/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "Input/xkeyboard-config"]
	path = Input/xkeyboard-config
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git
[submodule "Graphics/GTK3/Graphics/weston"]
	path = Graphics/GTK3/Graphics/weston
	url = https://gitlab.freedesktop.org/wayland/weston.git
[submodule "arkos/arkrt/Graphics/GTK3/Support/seatd"]
	path = arkos/arkrt/Graphics/GTK3/Support/seatd
	url = https://github.com/kennylevinsen/seatd